# Flutter/Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# IDEs
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/google-services.json
*.jks
*.keystore

# iOS
ios/Pods/
ios/Runner/GoogleService-Info.plist

# Environment & Secrets
*.env
*.keys
*.pem
*.p12

# Logs
*.log
